
.auto-row {
    display:grid;
    grid-auto-columns: 1fr;
    grid-auto-flow:column;
    column-gap:0.5rem;
}
.auto-row-left {
    display: flex;
    flex-direction: row;
    column-gap:0.5rem;
}
.auto-column{
    display:grid;
    grid-auto-rows: auto;
    grid-auto-flow:row;
    row-gap:0.5rem;
    align-content:start;
}
.speed-row {
    grid-auto-columns: 3fr 10fr 1fr 1fr;
}
.sense-row {
    grid-auto-columns: 5fr 8fr 1fr 1fr;
}
.long-row {
    display:grid;
    grid-auto-columns: 1fr 5fr;
    grid-auto-flow:column;
    grid-gap:0.5rem;
}
.three-one-row {
    display:grid;
    grid-auto-columns: 5fr 1fr;
    grid-auto-flow:column;
    grid-gap:0.5rem;

}
.red-hover:hover{
    background-color: red;
    color: white;
    cursor:pointer;
}
.blue-hover:hover{
    background-color: blue;
    color: white;
    cursor:pointer;
}